/*=======================*/
/* TABLET - (below 1024px) */
/*=======================*/

@media (max-width: 1024px) {
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
}

/*=====================================*/
/* MOBILE & SMALL TABLET (below 820px) */
/*=====================================*/

@media (max-width: 820px) {
  main {
    font-size: 2rem;
  }

  header {
    padding: 1rem 1.2rem;
  }

  .container {
    padding: 2rem 5.8rem;
  }

  .h1-not-homepage {
    font-size: 7.2rem;
    padding-top: 2.4rem;
    padding-left: 5.8rem;
  }

  .nav {
    position: relative;
  }

  .nav-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
    padding: 1rem;
    background: rgba(1, 106, 122, 0.75);
    box-shadow: var(--shadow);
    border-radius: 14rem 0 0 14rem;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    width: auto;
  }

  .nav-links a {
    display: inline-block;
    width: 100%;
    padding: 0.8rem 1.5rem 0.8rem 0;
    text-align: right;
    font-size: 1.2rem;
    color: var(--text-light);
    transition:
      color 0.25s ease,
      transform 0.25s ease,
      text-shadow 0.25s ease;
  }

  .nav-links a:hover,
  .nav-links a:focus-visible {
    transform: translateX(-6px);

    text-shadow:
      0 0 8px rgba(1, 182, 210, 0.9),
      0 0 18px rgba(1, 182, 210, 0.6);

    opacity: 0.95;
  }

  .grid--2-cols,
  .grid--4-cols,
  .grid--5-cols {
    grid-template-columns: 1fr;
  }

  .first-name {
    font-size: 7rem;
    margin-bottom: -1.5rem;
  }

  .surname {
    font-size: 9rem;
    left: -1rem;
  }
}

/*======================*/
/* MOBILE (below 600px) */
/*======================*/
@media (max-width: 600px) {
  main {
    font-size: 1.5rem;
  }
  .h1-not-homepage {
    font-size: 5.2rem;
    padding: 4.4rem 0 0 0;
    /* padding-left: 1.2rem;
    padding-right: 1.2rem; */
    /* padding: 0;  */
    text-align: center;
  }

  .name-container {
    margin-top: 2rem;
  }

  .first-name {
    font-size: 5rem;
    margin-bottom: -1rem;
  }

  .surname {
    font-size: 4.8rem;
    left: -1rem;
    top: -0.5rem;
  }
}
